<img src=" <%= message.user().escape("thumb_picture_url") %> " alt="" />

<%= message.get("sent") ? "To:" : "From:" %> <%= message.user().escape("full_name") %>
<br>
Subject: <%= message.escape("subject") %>
<br>
Body: <%= message.escape("body") %>
<br>
Date: <%= message.escape("created_at") %>
<br>

<% if (!message.get("sent")) {%>
  <button>Reply</button>
<% } %>

<hr>
