<a class="message-link group" href= "<%= "#inbox/messages/" + message.id %>">
<img src=" <%= message.user().escape("thumb_picture_url") %> " alt="" />

<ul>
  <li>
    <%= message.get("sent") ? "To:" : "" %>
    <strong><%= message.user().escape("full_name") %></strong>
  </li>
  <li>
    <span class="subject"><%= message.escape("subject") %></span>
  </li>
  <li>
    <span class="body"><%= message.escape("body_preview") %></span>
  </li>
</ul>

<span class="date">
  <%= message.escape("date_string") %>
</span>
</a>
