
<% if (message.user()) { %>
  <section class="message-info group">
    <img class="thumb-picture" src=" <%= message.user() && message.user().escape("thumb_picture_url") %> " alt="" />

    <ul class="message-info-detail">
      <strong class="subject"><%= message.escape("subject") %></strong>
      <a href="#/users/<%= message.user().id %>"><%= message.user().escape("full_name") %></a>
      <%= message.escape("date_string") %>
    </ul>
  </section>

  <p class="message-body"> <%= message.escape("body") %> </p>


  <a href="#inbox/messages<%= message.get("sent") ? "/sent" : "/received" %> " class="grey-button">Back</a>
<% } %>
