
<% if (message.user()) { %>
  <img src=" <%= message.user() && message.user().escape("thumb_picture_url") %> " alt="" />

  <span class="subject"><%= message.escape("subject") %></span>
  <strong><%= message.user().escape("full_name") %></strong>
  <%= message.escape("date_string") %>

  <p> <%= message.escape("body") %> </p>


  <a href="#inbox/messages<%= message.get("sent") ? "/sent" : "/received" %> " class="grey-button">Back</a>
<% } %>
