
<section class="trigger group">
  <img class="profile-picture" src="<%= user.escape("picture_url") %>" alt="Profile Picture" />
  <span class="full-name"><%= user.escape("fname") + " " + user.escape("lname")  %></span>
  <span class="field-text"><%= user.escape("tagline") %></span>
  Location: <%= user.escape("location") %>
  <br>
  Industry: <%= user.escape("industry") %>
</section>

<% if (ExtinctIn.currentUserId === user.id) { %>
  <%= JST["users/form-partial"]({user: user}) %>
<% } %>
