
<section class="trigger">
  <img class="profile-picture" src="<%= user.escape("picture_url") %>" alt="Profile Picture" />
  Name: <%= user.escape("fname") + " " + user.escape("lname")  %>
  <br>
  Location: <%= user.escape("location") %>
  <br>
  Industry: <%= user.escape("industry") %>
  <br>
  Tagline: <%= user.escape("tagline") %>
  <br>
  DOB: <%= user.escape("date_of_birth") %>
  <br>
  Summary: <%= user.escape("summary") %>
</section>

<% if (ExtinctIn.currentUserId === user.id) { %>
  <%= JST["users/form-partial"]({user: user}) %>
<% } %>
