
<img class="profile-picture" src="<%= user.escape("profile_picture_url") %>" alt="Profile Picture" />

<section class="profile-info">

  <span class="full-name edit"><%= user.escape("full_name")  %></span>
  <p class="title"><span class="edit"><%= user.escape("tagline") %></span></p>
  <span class="location edit"><%= user.escape("location") %></span>
  <span class="industry edit"><%= user.escape("industry") %></span>

  <table class="user-overview">
    <% if (user.escape("current_jobs")) { %>
      <tr>
        <th> Current </th>
        <td><span class="edit"> <%= user.escape("current_jobs") %> </span></td>
      </tr>
    <% } %>

    <% if (user.escape("previous_jobs")) { %>
      <tr>
        <th> Previous </th>
        <td><span class="edit"> <%= user.escape("previous_jobs") %> </span></td>
      </tr>
    <% } %>

    <% if (user.escape("education")) { %>
      <tr>
        <th> Education </th>
        <td><span class="edit"> <%= user.escape("education") %> </span></td>
      </tr>
    <% } %>


  </table>

  <div class="profile-bottom group">
    <div class="button-holder">

    </div>

    <span class="connections">
      <strong><%= user.escape("num_connections") %></strong>
      connections
    </span>
  </div>
</section>
