
<img class="profile-picture" src="<%= user.escape("profile_picture_url") %>" alt="Profile Picture" />

<section class="profile-info">

  <span class="full-name"><%= user.escape("full_name")  %></span>
  <p class="title"><%= user.escape("tagline") %></p>
  <span class="location"><%= user.escape("location") %></span>
  <span class="industry"><%= user.escape("industry") %></span>


  <div class="profile-bottom group">
    <div class="button-holder">

    </div>

    <span class="connections">
      <strong><%= user.escape("num_connections") %></strong>
      connections
    </span>
  </div>
</section>
