<form class="hidden-input experience">
  <ul class="errors"></ul>

  <label class="required" for="">Title</label>
  <input type="text" name="role" value="<%= job.escape("role") %>">
  <br>

  <label class="required" for="">Company</label>
  <input type="text" name="institution" value="<%= job.escape("institution") %>">
  <br>

  <label for="">Location</label>
  <input type="text" name="location" value="<%= job.escape("location") %>">
  <br>

  <label class="required" for="">Time Period</label>
  <ul class="group">
    <%= _.template($("#job-date-input").html())({job: job}) %>
  </ul>

  <div class="check-present-container group">
    <input id="check-present" type="checkbox" name="check_present" value="true">
    <label class="check-present" for="check-present">I currently work here</label>
  </div>


  <label for="">Description</label>
  <textarea name="description"><%= job.escape("description") %></textarea>
  <br>

  <ul class="bottom-buttons group">
    <li><button class="submit">Save</button></li>
    <li><a href="javascript:void(0)" class="cancel grey-button">Cancel</a></li>
    <% if (!job.isNew()) { %>
      <li><a class="remove-link delete" href="javascript:void(0)">Remove this position</a></li>
    <% } %>

  </ul>
</form>
