
<section class="<%= currentUser ? "trigger" : "" %>">
  <h4 class="title"><%= experience.escape("role") %></h4>
  <h5 class="school"><%= experience.escape("institution") %></h5>
  <div class="date-location">
    <span class="date-text"><%= experience.escape("date_string") %></span>

    <% if (experience.escape("location") !== "") { %>
      <span class="local-text"><%= experience.escape("location") %></span>
    <% } %>
  </div>
  <% if (experience.escape("description") !== "") { %>
    <p class="description"><%= experience.escape("description") %></p>
  <% } %>

  <% if (currentUser) { %>
    <% if (experience.escape("location") === "") { %>
      <a class="edit-form" href="javascript:void(0)">Add Location</a>
      <br>
    <% } %>

    <% if (experience.escape("description") === "") { %>
      <a class="edit-form" href="javascript:void(0)">Add Description</a>
      <br>
    <% } %>
  <%  } %>


</section>
<% if (currentUser) { %>
    <%= JST["jobs/form-partial"]({job: experience}) %>
<%  } %>
