
<section class="trigger">
  <span class="field-text"><%= experience.escape("role") %></span>
  <span class="field-text"><%= experience.escape("institution") %></span>
  <span class="date-text"><%= experience.escape("date_string") %></span>

  <% if (experience.escape("location") === "") { %>
    <a class="edit-form" href="javascript:void(0)">Add Location</a>
    <br>
  <% } else { %>
    <span class="local-text"><%= experience.escape("location") %></span>
  <% } %>

  <% if (experience.escape("description") === "") { %>
    <a class="edit-form" href="javascript:void(0)">Add Description</a>
    <br>
  <% } else { %>
    <span class="field-text"><%= experience.escape("description") %></span>
  <% } %>


</section>

<div class="hidden-input">
  <%= JST["jobs/form-partial"]({job: experience}) %>
</div>

<hr>
