
<section class="<%= currentUser ? "trigger" : "" %>">
  <h4 class="title"><span class="edit"><%= experience.escape("role") %></span></h4>
  <h5 class="school"><span class="edit"><%= experience.escape("institution") %></span></h5>
  <div class="date-location">
    <span class="date-text edit"><%= experience.escape("date_string") %></span>

    <% if (experience.escape("location") !== "") { %>
      <span class="local-text edit"><%= experience.escape("location") %></span>
    <% } %>
  </div>
  <% if (experience.escape("description") !== "") { %>
    <p class="description"><span class="edit"><%= experience.escape("description") %></span></p>
  <% } %>

  <% if (currentUser) { %>
    <% if (experience.escape("location") === "") { %>
      <span class="edit"><a href="javascript:void(0)">Add Location</a></span>
      <br>
    <% } %>

    <% if (experience.escape("description") === "") { %>
      <span class="edit"><a href="javascript:void(0)">Add Description</a></span>
      <br>
    <% } %>
  <%  } %>


</section>
<% if (currentUser) { %>
    <%= JST["jobs/form-partial"]({job: experience}) %>
<%  } %>
