
<section>
  Title: <%= job.escape("role") %>
  <br>
  Company: <%= job.escape("institution") %>
  <br>
  Location: <%= job.escape("location") %>
  <br>
  Start Date: <%= job.escape("start_date") %>
  <br>
  End Date: <%= job.escape("end_date") %>
  <br>
  Description: <%= job.escape("description") %>
  <br>
</section>

<hr>
