
<section class="trigger">
  Title: <%= job.escape("role") %>
  <br>
  Company: <%= job.escape("institution") %>
  <br>
  Dates: <%= job.escape("date_string") %>
  <br>

  <% if (job.escape("location") === "") { %>
    <a class="edit-form" href="javascript:void(0)">Add Location</a>
    <br>
  <% } else { %>
    Location: <%= job.escape("location") %>
    <br>
  <% } %>

  <% if (job.escape("description") === "") { %>
    <a class="edit-form" href="javascript:void(0)">Add Description</a>
    <br>
  <% } else { %>
    Description: <%= job.escape("description") %>
    <br>
  <% } %>


</section>

<div class="hidden-input">
  <%= JST["jobs/form-partial"]({job: job}) %>
</div>

<hr>
