<hr>
Sent By: <a href="<%="#/users/" + connection.escape("sender_id") %>">
  <%= connection.escape("sender_id") %></a>
<br>
Received By: <a href="<%="#/users/" + connection.escape("receiver_id") %>">
  <%= connection.escape("receiver_id") %></a>
<br>
Status: <%= connection.escape("status") %>


<section class="user-detail">

</section>
