<div class="global-header">
  <header class="top-header">
    <nav class="top-header-nav group">
      <a href="#" class="logo">in</a>

      <form class="header-search">
        <input type="text" name="query" placeholder="Search for people by name, company, etc...">
        <button class="blue-button">Search</button>
      </form>

      <span class="user-info-header">
        <%= current_user.full_name.titleize %>
        <img src="<%=image_url(current_user.picture.url(:thumb))%>" alt="" />
      </span>
    </nav>
  </header>

  <header class="responsive-header">
    <nav class="responsive-header-nav group">
      <ul class="responsive-list group">
        <li><a href="#">Profile</a></li>
        <li><a href="#inbox">Inbox</a></li>
        <li><a href="#search">Search</a></li>
      </ul>
      <%= render partial: "/shared/logged_in", locals: {current_user: current_user } %>
    </nav>
  </header>
</div>



<main>
  <section class="group" id="content">

  </section>
  <footer class="page-footer">
    <hr>
    Built by <a href="http://github.com/jdbalistreri" target="_blank">jdbalistreri</a>
  </footer>
</main>


<div id="modal"></div>

<script charset="utf-8">
  $(document).ready(function(){
    PluggedIn.currentUserId = <%= current_user.try(:id) || "null" %>;
    PluggedIn.$modalEl = $("#modal");
    PluggedIn.initialize({$rootEl: $("#content"), tour: <%= session[:refreshes] <= 1 %>});
  });
</script>

<script type="text/template" id="job-date-input">
  <li>
    <%= date_select("date", "start_date",
          {discard_day: true, discard_year: true,
          prompt: {month: "Choose..."}}) %>
    <input type="number"
            id="date_start_date_1i"
            name="date[start_date(1i)]"
            value="<%%= job.escape("start_year") %>"
            placeholder="Year">
     -
  </li>
  <li>
    <span class="end-date">
      <span class="trigger">
        <%= date_select("date", "end_date",
              {discard_day: true, discard_year: true,
              prompt: {month: "Choose..."}}) %>
        <input type="number"
                id="date_end_date_1i"
                class="date_end_year"
                name="date[end_date(1i)]"
                value="<%%= job.escape("end_year") %>"
                placeholder="Year">
      </span>
      <span class="hidden-input">
        Present
      </span>

    </span>
  </li>
</script>

<script type="text/template" id="school-date-input">
  <%= date_select("date", "start_date",
        {discard_day: true, discard_month: true,
        prompt: {year: "-"}, start_year: Time.now.year, end_year: 1900}) %>
   -
  <span class="end-date">
      <%= date_select("date", "end_date",
        {discard_day: true, discard_month: true,
        prompt: {year: "-"}, start_year: Time.now.year + 7, end_year: 1900}) %>
  </span>
</script>
