<form>
  <ul class="errors"></ul>

  <label class="required" for="">School: </label>
  <input type="text" name="institution" value="<%= school.escape("institution") %>">
  <br>

  <label class="required" for="">Degree: </label>
  <input type="text" name="role" value="<%= school.escape("role") %>">
  <br>

  <label for="">Location: </label>
  <input type="text" name="location" value="<%= school.escape("location") %>">
  <br>

  <label class="required" for="">Time Period: </label>
  <%= _.template($("#school-date-input").html())({school: school}) %>
  <br>

  <label for="">Field of Study: </label>
  <input type="text" name="field" value="<%= school.escape("field") %>">
  <br>

  <label for="">Description: </label>
  <textarea name="description"><%= school.escape("description") %></textarea>
  <br>

  <button>Submit</button>
  <a href="javascript:void(0)" class="cancel">Cancel</a>
  <% if (!school.isNew()) { %>
    <a href="javascript:void(0)" class="delete">Remove this school</a>
  <% } %>
</form>
