<form class="hidden-input experience">
  <ul class="errors"></ul>

  <label class="required" for="">School: </label>
  <input type="text" name="institution" value="<%= school.escape("institution") %>">
  <br>

  <label class="required" for="">Degree: </label>
  <input type="text" name="role" value="<%= school.escape("role") %>">
  <br>

  <label class="required" for="">Time Period: </label>
  <%= _.template($("#school-date-input").html())({school: school}) %>
  <br>

  <label class="field-of-study" for="">Field of Study: </label>
  <input type="text" name="field" value="<%= school.escape("field") %>">
  <br>

  <label for="">Description: </label>
  <textarea name="description"><%= school.escape("description") %></textarea>
  <br>

  <ul class="bottom-buttons group">
    <li><button class="submit">Save</button></li>
    <li><a href="javascript:void(0)" class="cancel grey-button">Cancel</a></li>
    <% if (!school.isNew()) { %>
      <li><a class="remove-link delete" href="javascript:void(0)">Remove this school</a></li>
    <% } %>

  </ul>
</form>
