<form>
  <ul class="errors"></ul>

  <label class="required" for="">Title: </label>
  <input type="text" name="role" value="<%= school.escape("role") %>">
  <br>

  <label class="required" for="">Company: </label>
  <input type="text" name="institution" value="<%= school.escape("institution") %>">
  <br>

  <label for="">Location: </label>
  <input type="text" name="location" value="<%= school.escape("location") %>">
  <br>

  <label class="required" for="">Time Period: </label>
  <%= _.template($("#job-date-input").html())({job: school}) %>

  <br>
  <input id="check-present" type="checkbox" name="check_present" value="true">
  <label for="check-present">I currently attend school here</label>
  <br>

  <label for="">Description: </label>
  <textarea name="description"><%= school.escape("description") %></textarea>
  <br>

  <button>Submit</button>
  <a href="javascript:void(0)" class="cancel">Cancel</a>
  <% if (!school.isNew()) { %>
    <a href="javascript:void(0)" class="delete">Remove this school</a>
  <% } %>
</form>
