
<section class="trigger">
  School: <%= experience.escape("institution") %>
  <br>
  Degree: <%= experience.escape("role") %>
  <br>
  <%= experience.escape("date_string") %>
  <br>

  <% if (experience.escape("location") === "") { %>
    <a class="edit-form" href="javascript:void(0)">Add Location</a>
    <br>
  <% } else { %>
    Location: <%= experience.escape("location") %>
    <br>
  <% } %>

  <% if (experience.escape("field") === "") { %>
    <a class="edit-form" href="javascript:void(0)">Add Field of Study</a>
    <br>
  <% } else { %>
    Field of Study: <%= experience.escape("field") %>
    <br>
  <% } %>

  <% if (experience.escape("description") === "") { %>
    <a class="edit-form" href="javascript:void(0)">Add Description</a>
    <br>
  <% } else { %>
    Description: <%= experience.escape("description") %>
    <br>
  <% } %>


</section>

<div class="hidden-input">
  <%= JST["schools/form-partial"]({school: experience}) %>
</div>

<hr>
