
<section class="<%= currentUser ? "trigger" : "" %>">
  <span class="field-text"><%= experience.escape("institution") %></span>
  <span class="degree"><%= experience.escape("role") %></span>

  <% if (experience.escape("field") !== "") { %>
    <span class="major"><%= experience.escape("field") %></span>
  <% } %>

  <span class="field-text"><%= experience.escape("date_string") %></span>

  <% if (experience.escape("description") !== "") { %>
    <span class="field-text"><%= experience.escape("description") %></span>
  <% } %>

  <% if (currentUser) { %>
    <% if (experience.escape("field") === "") { %>
      <a class="edit-form" href="javascript:void(0)">Add Field of Study</a>
      <br>
    <% } %>
    <% if (experience.escape("description") === "") { %>
      <a class="edit-form" href="javascript:void(0)">Add Description</a>
      <br>
    <% } %>
  <% } %>




</section>
<% if (currentUser) { %>
  <%= JST["schools/form-partial"]({school: experience}) %>
<%  } %>

<hr>
