
<section class="<%= currentUser ? "trigger" : "" %>">
  <span class="field-text"><%= experience.escape("institution") %></span>
  <span class="degree"><%= experience.escape("role") %></span>

  <% if (experience.escape("field") !== "") { %>
    <span class="major"><%= experience.escape("field") %></span>
  <% } %>

  <span class="field-text"><%= experience.escape("date_string") %></span>

  <% if (experience.escape("description") === "") { %>
    <a class="edit-form" href="javascript:void(0)">Add Description</a>
    <br>
  <% } else { %>
    <span class="field-text"><%= experience.escape("description") %></span>
  <% } %>

  <% if (experience.escape("field") === "") { %>
    <a class="edit-form" href="javascript:void(0)">Add Field of Study</a>
    <br>
  <% } %>

</section>
<% if (currentUser) { %>
  <div class="hidden-input">
    <%= JST["schools/form-partial"]({school: experience}) %>
  </div>
<%  } %>

<hr>
