
<section class="trigger">
  Title: <%= experience.escape("role") %>
  <br>
  Company: <%= experience.escape("institution") %>
  <br>
  <%= experience.escape("date_string") %>
  <br>

  <% if (experience.escape("location") === "") { %>
    <a class="edit-form" href="javascript:void(0)">Add Location</a>
    <br>
  <% } else { %>
    Location: <%= experience.escape("location") %>
    <br>
  <% } %>

  <% if (experience.escape("description") === "") { %>
    <a class="edit-form" href="javascript:void(0)">Add Description</a>
    <br>
  <% } else { %>
    Description: <%= experience.escape("description") %>
    <br>
  <% } %>


</section>

<div class="hidden-input">
  <%= JST["jobs/form-partial"]({job: experience}) %>
</div>

<hr>
