<!DOCTYPE html>
<html>
<head>
  <title>PluggedIn</title>
  <%= favicon_link_tag 'pluggedin.ico' %>  
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash[:errors] %>
  <ul>
    <% flash[:errors].each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= yield %>

</body>
</html>
