<!DOCTYPE html>
<html>
<head>
  <title>ExtinctIn</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash[:errors] %>
  <ul>
    <% flash[:errors].each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= yield %>

</body>
</html>
